@charset "UTF-8";
/*  Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 30px 0px;
  display: flex;
  justify-content: space-around;
  border-bottom: 6px solid rgb(255, 0, 0);
  color: white;
  align-items: center;
  width: 100% !important;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.item-nav {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: inherit;
}

header nav ul li a:hover {
  color: red;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.menu li {
  flex: 1; /* Para que los elementos se distribuyan uniformemente */
}

.menu-2 {
  grid-area: menu-2;
  display: flex;
  justify-content: end;
}

.menu-foto {
  display: flex;
  width: 128px;
}

.iniciar-sesion {
  display: flex;
  align-items: center;
}

.carrito {
  text-align: center;
}

.boton-carrito {
  background-color: #007bff; /* Color azul */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambiar cursor al pasar el ratón */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Animación de color */
}

.boton-carrito:hover {
  background-color: #0056b3; /* Color azul más oscuro al pasar el mouse */
}

/* Cambiar color del navbar-toggler-icon a blanco */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body {
  background-color: #000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer-conteiner {
  background-color: #000;
  border-top: 6px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "footer-item1 footer-item3" "footer-item2 footer-item3";
}

.footer-item1 {
  grid-area: footer-item1;
  margin: auto;
  border-radius: 5%;
}

.footer-item2 {
  grid-area: footer-item2;
  margin: auto;
  border-radius: 5%;
}

.footer-item3 {
  grid-area: footer-item3;
}

.itemfooter {
  width: 80%;
}

.footer-conteiner a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.footer-conteiner a:hover {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

.grid-containter-index {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

/* Ajusta el ancho del carrusel para pantallas grandes */
.carousel-fade {
  width: 100%;
  max-width: 800px; /* Ajusta el tamaño máximo según lo necesites */
}

/* Imágenes del carrusel */
.images-carousel {
  width: 100%;
  height: auto;
  object-fit: cover; /* Mantiene las imágenes escaladas y centradas */
}

/* Estilos para pantallas grandes (3 columnas) */
.product-container-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 100px;
  justify-items: center;
}

/* Estilos de la tarjeta */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.5em;
  margin: 0;
}

.card-description {
  color: #666;
  margin: 10px 0;
}

.card-price {
  font-size: 1.2em;
  font-weight: bold;
}

.btn-add {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-add:hover {
  background-color: #218838;
}

.contacto-grid-containter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logocontacto {
  display: flex;
  align-items: center;
}

.foto-contacto {
  display: flex;
  justify-content: center;
}

.texto-contacto {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 100px;
}

.links-contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.social-icons {
  display: flex;
  gap: 15px; /* Espacio entre los iconos */
}

.icon {
  font-size: 40px; /* Tamaño de los iconos */
  color: #333; /* Color de los iconos */
  transition: color 0.3s ease, transform 0.3s ease;
}

.icon:hover {
  color: #1da1f2; /* Cambia de color al pasar el cursor */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el cursor */
}

.mapa {
  color: white;
  display: flex;
}

.parrafo-contacto {
  margin-left: 5px;
  font-size: 16px;
  display: flex;
  max-width: 200px;
  overflow-wrap: break-word; /* Para palabras largas */
  align-items: flex-start;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-left: 130px;
  padding-top: 50px;
  gap: 100px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.5em;
  margin: 0;
}

.card-description {
  color: #666;
  margin: 10px 0;
}

.card-price {
  font-size: 1.2em;
  font-weight: bold;
}

.btn-add {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-add:hover {
  background-color: #218838;
}

/* Estilos para pantallas grandes (3 columnas) */
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

/* Estilos de la tarjeta */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.5em;
  margin: 0;
}

.card-description {
  color: #666;
  margin: 10px 0;
}

.card-price {
  font-size: 1.2em;
  font-weight: bold;
}

.btn-add {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-add:hover {
  background-color: #218838;
}

.formulario-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5%;
  max-width: 400px; /* Limitar el ancho máximo para mejor visibilidad en pantallas grandes */
  width: 100%; /* Adaptable a pantallas pequeñas */
  margin: auto;
}

.email, .password, .boton-ingresar {
  width: 100%; /* Asegura que los inputs ocupen todo el ancho disponible */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.invitacion-registrarse-container {
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .menu-container {
    display: flex;
  }
  .menu-foto {
    display: flex;
  }
}
@media screen and (max-width: 670px) {
  .menu-container {
    width: 70%;
    font-size: 15px;
  }
}
@media screen and (max-width: 890px) {
  .titulo {
    font-size: 24px;
  }
  .carousel-fade {
    max-width: 100%;
  }
  .logocontacto {
    width: 500px;
  }
  .mapa {
    width: 500px;
  }
}
@media screen and (min-width: 690px) and (max-width: 790px) {
  .menu {
    font-size: 16px;
  }
  .itemfooter {
    width: 300px;
  }
}
@media screen and (max-width: 1100px) {
  .product-container-index {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titulo-container {
    font-size: 15px;
  }
}
@media screen and (min-width: 300px) and (max-width: 669px) {
  .boton-carrito {
    font-size: 13px;
    margin: 10px;
  }
  .itemfooter {
    width: 250px;
  }
}
@media screen and (max-width: 600px) {
  .formulario-container {
    padding: 10%;
    font-size: 13px;
  }
  .email, .password, .boton-ingresar {
    padding: 5px;
  }
  input[type=email], input[type=password], input[type=submit] {
    font-size: 1rem;
  }
  .email {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .logocontacto {
    width: 300px;
  }
  .mapa {
    width: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 670px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
