@media screen and (min-width: 300px) and (max-width: 669px) {
    .grid-containter-index {
        display: flex;
        flex-direction: column;
        width: 80vh;
        margin: 0px 15px;
    }
    .titulo-container{
        display: inline-flex;
        color: white;
        text-align: center;
        width: 80vh;
        justify-content: center;
        font-size: 12px;
    }

    .boton-carrito {
        font-size: 13px;
        margin:10px;
    }

    .itemfooter{
        width: 300px;
    }

    
}
