@media screen and (max-width:1024px) {
    .menu-container{
        display: flex;
    }
    .menu-foto{
        display: flex;
    }

    
}
@media screen and (max-width:670px) {

    .menu-container{
        width: 70%;
        font-size: 15px;
    }

    .logocontacto{
        padding-top: 30px;

    }
}

@media screen and (max-width: 890px) {
    .titulo {
        font-size: 24px;
    }
    .carousel-fade {
        max-width: 100%;
    }
    .logocontacto{
        width: 500px;
    }
    .mapa{
        width: 500px;
  
    }

}

@media (min-width: 768px) {
    .contacto-grid-container {
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
}