
.logocontacto{
    width: 100%;
}

.texto-contacto{
    color: white;
}

.contacto-grid-containter{
    margin: 50px;
}

.contacto-grid-containter ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

.links-contacto{
    margin-top: 50px;
    
}


.links-contacto a:hover{
    color: red;

}