.contacto-grid-containter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logocontacto{
    display: flex;
    align-items: center;
    
}

.foto-contacto{
    display: flex;
    justify-content: center;
    
}

.texto-contacto{
    color: white;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 100px ;
}



.social-icons {
    display: flex;
    gap: 15px; /* Espacio entre los iconos */
  }
  
  .icon {
    font-size: 40px; /* Tamaño de los iconos */
    color: #333; /* Color de los iconos */
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .icon:hover {
    color: #1da1f2; /* Cambia de color al pasar el cursor */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el cursor */
  }
  