
.logocontacto{
    width: 100%;
}

.texto-contacto{
    color: white;
}

.contacto-grid-containter{
    margin: 50px;
}

.contacto-grid-containter ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

.links-contacto{
    margin-top: 50px;
    
}


.links-contacto a:hover{
    color: red;

}

.social-icons {
    display: flex;
    gap: 15px; /* Espacio entre los iconos */
  }
  
  .icon {
    font-size: 40px; /* Tamaño de los iconos */
    color: #333; /* Color de los iconos */
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .icon:hover {
    color: #1da1f2; /* Cambia de color al pasar el cursor */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el cursor */
  }
  