.grid-containter-index{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    margin: 50px;
    grid-template-areas: 
    "item1 item1"
    "item2 item2";
}

.item1{
    grid-area: item1;
}


.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

.foto-inicio{
    width: 100%;
    border-radius: 5px;
    
}

.foto-envio{
    width: 100%;
    border-radius: 5px;
}
