
.formulario-container{
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1%;
}

.invitacion-registrarse-container{
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
}